.company{
    margin-bottom: 160px;
    &-heading{
        font-weight: 500;
        font-family: 28px;
        line-height: 160%;
        text-align: center;
        margin-bottom: 33px;
        color: $gray;
    }
    &-logos{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 75px;
    }
}