$primary-color: #2F327D;
$secondary-color: #F48C06;
$third-color: #65DAFF;
$gray: #696984;
$gray-light: #6C6C6C;
$gray-dark: #464646;
$gray-darker: #252641;
$purple: #5b72ee;
$yellow: #fff2e1;
$blue: #29b9e7;
$blue-light: #B2B3CF;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Nunito Sans', sans-serif;